@use '../abstracts/variables';



#fondo{
    background-color: variables.$color2;;
}

.titulo{
    color: variables.$color3;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
}

._mancha{
    display: flex;
    width: fit-content;
}

._btn{
    display: inline;
    width: fit-content;
}

.mancha{
    width: 250px;
    margin-left: 20px;
}

.btn2{
    background-color:variables.$color1;
    font-family:variables.$font1;
    border: none;
    padding: 6px 20px;
    color:variables.$color3;
    font-size: variables.$f-size-sm;
    border-radius: 40px;
    margin-left: 90%;
}

    
    





