@use '../abstracts/variables';

#fondo{
    background-color: variables.$color2;;
}

.titulo{
    font-family: variables.$font1;
    color: variables.$color3;
}

.pregunta{
    margin-top: 20px;
    justify-content: center;
}
.container1{
    justify-content: left;
   
}

.mancha{
    width: 100px;
}

.container2{
    display: flex;
    justify-content: right;
    margin-top: 40px;
}
